# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

GroundDetector/Mnist-data
GroundDetector/assets
## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

# Ignore all large media files
*.mp4
**/venv/
**/.idea/
**/.vscode/

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3



## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Python ignores
*.pyc

#Pycharm gitignore
 User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# CMake
cmake-build-debug/
cmake-build-release/


# General

**/.DS_STORE
**/Thumbs.db
*.swp

.metadata/

#EAGLE temp Library Files
*.l#*
*.b#*
*.s#*
BluetoothTuner/
ros_ws/bags
