<launch>
	<node name="rtk_gps_node" pkg="rtk" type="rtk_gps_node" output="screen"/>
	<!--node name="rtk_controller_node" pkg="rtk_controller" type="rtk_controller_node" output="screen"/-->
	<node name="fb_manager" pkg="fb" type="fb_manager.py" output="screen"/>
	<node name="joy_node" pkg="joy" type="joy_node" output="screen"/>
	<node name="rc_manager" pkg="rc" type="rc_manager.py" output="screen"/>
	<include file="../src/rplidar_ros/launch/rplidar.launch"/>
</launch>
